<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) [%cyan(%logger{10}) %file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.pilot.predictx" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>